In [8]:
import numpy as np
import pandas as pd

In [9]:
from numpy.random import randn

In [3]:
# Index levels
outside= ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [12]:
df # MULTI LEVEL INDEX

             A         B
G1 1  1.280989  1.618428
   2 -0.497311 -0.983440
   3  2.076314  0.533764
G2 1 -0.975383 -0.757222
   2 -1.037779 -0.310753
   3 -0.932960  0.745497

In [14]:
 df.loc['G1'].loc[1]

A    1.280989
B    1.618428
Name: 1, dtype: float64

# Naming index

In [15]:
df.index.names= ['Groups', 'Num']

In [16]:
df

                   A         B
Groups Num
G1     1    1.280989  1.618428
       2   -0.497311 -0.983440
       3    2.076314  0.533764
G2     1   -0.975383 -0.757222
       2   -1.037779 -0.310753
       3   -0.932960  0.745497

In [23]:
df.loc['G2'].loc[2]['B']

-0.3107529666311169

# Cross Section Method

In [22]:
df.xs('G1')

            A         B
Num
1    1.280989  1.618428
2   -0.497311 -0.983440
3    2.076314  0.533764

In [24]:
df.xs(1, level= 'Num')

               A         B
Groups
G1      1.280989  1.618428
G2     -0.975383 -0.757222